.vscode/**
.vscode-test/**
src/**
packages/**/src/**
benchmarks/**
docs/**
scripts/**
.gitignore
.yarnrc
.eslintrc.json
**/*.map
**/*.ts
!**/*.d.ts
**/*.test.ts
**/*.bench.ts
vitest.config.ts
tsconfig.*.json
\.venv_pruvagraph/**
.github/**
node_modules/**

